/*-- scss:defaults --*/

// use litera as the base
 //$theme: "litera" !default;

// Import Adobe Fonts (Proxima Nova)
@import url("https://use.typekit.net/fme8kty.css");
@import url("https://use.typekit.net/ejl5bmc.css");
@import url("https://use.typekit.net/ejl5bmc.css");
@import url("https://use.typekit.net/tun4wsn.css");

@font-face {
	font-family: 'TStarProBold';
	src: url('fonts/TStarProBold.ttf') format('truetype');
	font-weight: 700; /* Use heavier weight */
	font-display: swap; /* Improve loading performance */
}

@font-face {
	font-family: 'Mercury Text G1';
	src: url('fonts/MercuryTextG1Regular.ttf') format('truetype');
	font-weight: 400; /* Use heavier weight */
	font-display: swap; /* Improve loading performance */
}

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

// use Atkinson Hyperlegible font if available
$font-family-sans-serif:  "DM Sans", "Roboto", "proxima-nova", "Helvetica Neue", "Joss", "Source Sans", "Inter", "IBM Plex Sans", "Public Sans", "Noto Sans", "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// use IBM Plex Mono
$font-family-monospace: "Overpass Mono", "Roboto Mono", "IBM Plex Mono", monospace, monospace;

$font-family-serif: "Mercury Text G1 Regular", "Gentium Plus", "Newsreader", "Literata", "Piazzolla", serif;

$font-family-headers: "Offside";

/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
p, li {
  font-family: $font-family-serif;
  font-weight: 400 !important;
}
h1 {
     text-decoration:none;
     //text-transform:uppercase;
     color:#000000;
     font-family: "Offside", sans-serif;
     font-size: 2em;
     font-weight: 700;
     letter-spacing: 1px;
}

h2, h3, h4, h5, h6 {
     text-decoration:none;
     text-transform:uppercase;
     color:#000000;
     font-family: "Offside", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
}

a:link {
  text-decoration: none;
  //text-decoration-color: #235440;
  //text-decoration-thickness: 1px;
  //text-underline-offset: 3px;
}
a:visited {
    text-decoration: none;
    //text-decoration-color: #235440;
    //text-decoration-thickness: 1px;
    //text-underline-offset: 3px;
}
a:hover {
  color: white;
  //text-decoration: underline;
  background-color: #62259d;
  //text-decoration-color: #235440;
  //text-decoration-thickness: 2px;
  //text-underline-offset: 3px;
}
a:active {
  text-decoration: none;
}
