/*-- scss:defaults --*/

// Quartz default fonts
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Mono:wght@400;600&display=swap');

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$headings-font-family:   "Schibsted Grotesk", system-ui, sans-serif;
$font-family-monospace:  "IBM Plex Mono", ui-monospace, monospace;

/*-- scss:rules --*/
